.vermelho{color: red; font-weight: bold;}

.salvar { background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center;font-size: 16px;
margin: 4px 2px; }

.limpar { background-color: red; border: none; color: white; padding: 15px 32px; text-align: center;font-size: 16px;
margin: 4px 2px;}

strong{padding: 12px 12px 12px 0; display: inline-block;}

div {background-color: #f2f2f2; padding: 20px;}

input[type=text], select { width: 35%; padding: 12px; border: 1px solid #ccc;}

input[type=email]{ width: 35%; padding: 12px; border: 1px solid #ccc;}

h1 {text-align: center;}
